@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
@layer base {
  html {
    scroll-behavior: smooth;
  }
}
body::-webkit-scrollbar {
  width: 8px;
}

body::-webkit-scrollbar-track {
  background-color: transparent;
}

body::-webkit-scrollbar-thumb {
  background-color: #333;
  border-radius: 10px;
  transition: background-color 0.3s ease-in-out;
}

body::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

body::-webkit-scrollbar {
  opacity: 0;
}

body:hover::-webkit-scrollbar {
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}

#containerDropdowns::-webkit-scrollbar {
  width: 8px;
}

#containerDropdowns::-webkit-scrollbar-track {
  background-color: transparent;
}

#containerDropdowns::-webkit-scrollbar-thumb {
  background-color: #333;
  border-radius: 10px;
  transition: background-color 0.3s ease-in-out;
}

#containerDropdowns::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}
